{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="about-container">
    <div class="about-image-area">
        <img src="static/about_pic.jpg"  alt="...">
        <p>Welcome.  My name is Matt Hartigan and I'm a field-experienced offshore structural engineer focused on using digital technologies to modernize energy.  My career began in 2014 in the Gulf of Mexico working on fixed and floating platforms for a major oil and gas operating company.  As I got deeper into the industry, my interests expanded to include digital technology.  This eventually led me to pursue additional education in computer science and to apply what I learned at my dayjob. This website is a collection of past projects that I've independently developed to showcase my skills. If you think I can be of value to your current project or even just want to connect, feel free to message me via the email or Linked-In buttons on the menu bar.</p>
    </div>
</div>
{% endblock %}