{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class='about container'>
    <div class='about col'><img src='static/about_pic.jpg' id='aboutpic' alt='image missing'></div>
    <div class='about col'>I'm a structural engineer that began my career working in the offshore oil and gas industry.  While there, I took an interest in digital technology and its potential to impact energy.  Looking ahead, my goal is to combine my industry field-experience with technology to help legacy energy companies modernize their traditional systems and workflows.</div>
</div>
{% endblock %}