{% extends 'base.html' %}
{% block title %}Marine Vessel Finder{% endblock %}
{% block content %}
<div class='description-container'>
    <div class='description-title'>Coming soon... Marine Vessel Finder</div>
    <div class='description-body'>
        <div class='description-section'>
            <h3>Description</h3>
            <p>A python application that uses commercial marine traffic API's to locate vessels that meet user specified search criteria.</p>
        </div>
        <div class='description-section'>
            <h3>Background</h3>
            <p>In the offshore business, it is often the case that an operator needs to find a vessel to accomplish a particular task at the last minute.  Whether it is a ROV intervention or requires a crane lift, the operator will often just turn to their rolodex of phone numbers and choose from a very small pool of options.  This approach often does not consider the location, availability, and suitability of the vessel to the task at hand, which can result in substantial cost impact.  This tool seeks to reduce the amount of money spent on last minute vessel hires by giving operators an easy-to-use tool for identifying what vessels are in the nearby area that are capable of doing the job.  By making sure that they are choosing from the closest, best-suited vessels at the time of the job, cost savings can be achieved.</p>
        </div>
        <div class='description-section'>
            <h3>Lessons Learned</h3>
            <p>TBD...</p>
        </div>
        <div class='description-section'>
            <h3>Stack</h3>
            <ul>
                <li>Python</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<div class='description container'>
    <div class='description section title'>Coming soon... Marine Vessel Finder</div>
    <div class='description section body'>
        <h3>Description</h3>
        <h3>Background</h3>
        <h3>Lessons Learned</h3>
    </div>
</div>