{% extends 'base.html' %}
{% block title %}Project Description{% endblock %}
{% block content %}
<div class='description container'>
    <div class='description section title'>Conference Registration Site</div>
    <div class='description section body '>
        <h3>Description</h3>
        <p>This repo is a basic Flask website that displays information for an upcoming fitness conference and allows the user to register to attend.</p>
        <h3>Background</h3>
        <p>This project was part of my Web Development coursework. I chose to use the Python Flask framework because of its popularity and the fact that it integrates well with SQLite databases, which I also wanted to learn about.</p>
        <h3>Lessons Learned</h3>
        <p>Being new to Flask, I experienced a learning curve while implementing Jinja2 templates, as well as all of the routes, views, and other classic features of this framework. Once I got over this initial hump though, it was nice to see how I could easily build out the rest of the website efficiently by using template inheritance, etc.</p>
        <p>This project taught me the benefits of using an existing, well-maintained web framework like Flask to build a reliable front end that can perform CRUD operations on a database. The existing library functions made connecting and interfacing with SQLite relatively smooth. I also learned a lot about error checking when implementing the registration form page. Moving forward, I will seek to include more error checking in future forms that I create due to how much it can help guide the user to provide properly formatted input.</p>
        <h3>Stack</h3>
        <ul>
            <li>SQLite</li>
            <li>Python (Flask)</li>
            <li>Javascript</li>
            <li>HTML/CSS</li>
        </ul>
    </div>
</div>
{% endblock %}